#name{
    border: 2px solid black;
}

#h1-name{
    margin: 0%;
}
div{
    background-color: blanchedalmond;
}
#buttons{
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5px;
}
button{
    background-color: #c6eeffc3;
    width: 20%;
    height: 100%;
}
button:hover{
    background-color:#adcad7d1;
}

button:active{
    background-color:#89a2ae;
}

