button{
    box-shadow: 2px 4px 10px #6380ff87;
    text-shadow: 2px 2px 3px #6380ffd6;
    color:#babaf5;
    border: 3px solid #babaf5;
    border-radius: 50px;
    padding: 5px;
    margin: 2px 1px;
    width: 85px;
    height: 75px;
    background-color: #00000000;
}
button:hover{
    text-shadow: 2px 2px 3px #bbc8ffe8;
    color: #ceceff;
    border: 3px solid rgb(210, 232, 255); 
    box-shadow: 2px 4px 10px #f1faff;
}
button:active{
    text-shadow: 2px 2px 3px #341fd6b3;
    color: #8a00fb;
    border: 3px solid  #8a00fb; 
    box-shadow: 2px 4px 10px #341fd6b3;
}
#keys{
    margin-left: 2px;
}
#calculator{
    background-color: #02092a2e;
    border: 3px solid rgb(163, 187, 176); 
    box-shadow: 2px 4px 10px #bcb6b6;
    margin:auto;
    display:block;
    border-radius: 4px;
    padding: 5px;
    width: 380px;
    height: 450px;
}
#display{
    color:#cecef9;
    background-color: rgba(0, 3, 43, 0.206);
    border: 3px solid rgb(186, 225, 245); 
    box-shadow: 1px 1px 2px #60bfff;
    text-shadow: 1px 1px 2px #bbe5ffe8;
    border-radius: 10px;
    text-align: right;
    height: 40px;
    width: 350px;
    margin-left: 5px;
}
html{
    background-color: rgb(0, 0, 0);
    color: #cecef9;
}
.gold-btn{
    color: #ffe761;
    text-shadow: 2px 2px 3px #ffdf2a;
    border-color: #ffe23e;
    box-shadow: 2px 4px 10px #ffc83c;
}
.gold-btn:hover{
    color: #F9E7D2;
    text-shadow: 2px 2px 3px #F1E8F5;
    border-color: #F9E7D2;
    box-shadow: 2px 4px 10px #F1E8F5;
}
.gold-btn:active{
    color: #09ff00;
    text-shadow: 2px 2px 4px #00ff04;
    border-color: #09ff00;
    box-shadow: 2px 4px 12px #04ff00;
}
.pink-btn{
    color: #e14581c5;
    text-shadow: 2px 2px 3px #e14581c5;
    border-color: #f20a7e;
    box-shadow: 2px 4px 10px #fe0380;
}
.pink-btn:hover{
    color: #ff6c85f0;
    text-shadow: 2px 2px 3px #ff7f92d4;
    border-color: #ff6c85f0;
    box-shadow: 2px 4px 10px #ff7f92d4;
}
.pink-btn:active{
    color: #ff003cc5;
    text-shadow: 2px 2px 3px #ff0022c5;
    border-color: #ff003cc5;
    box-shadow: 2px 4px 10px #ff0022c5;
}